// Add your custom CSS here.
@media(min-width: 767px) {
  .page--home .banners-grid .col-lg-3 {
    max-width: 25% !important
  }
}
@media(max-width: 767px) {
  .page--home .banners-grid .col-lg-3 {
    max-width: 50% !important;
  }
  .search-engine__retail .product-card__buy {
    position: relative;
    display: flex;
    justify-content: center;
    button {
      margin-top: .3rem;
    }
  }
  .header__row .col.col-lg-auto.pl-1.pl-md-2.pl-lg-3 {
    text-align: center;
  }
}
.header {
  background: #fff !important;
}

.info-bar {
    background: #146153 !important;
}
